# Eclipse
.settings/
.project
.classpath

#Java
*.class
*.jar
*.war
*.ear
hs_err_pid*

# Haskell
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
